@import "tailwindcss";

@theme {
  --color-brand: #94ae92;
  /* Sage Green */
  --color-brand-hover: #758b75;
  --color-secondary: #4e564d;
  /* Olive Grey */
  --font-sans: var(--font-notosans), "sans-serif";
}

@layer utilities {
  .text-interactive {
    @apply text-xl font-medium tracking-wide;
  }
}

:root {
  --background: #f8fafc;
  /* slate-50 */
  --foreground: #0f172a;
  /* slate-900 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}