@import "tailwindcss";

@theme {
  --color-brand: #305e1c;
  --color-brand-hover: #203c00;
  --color-secondary: #203c00;
  --font-sans: var(--font-notosans), "sans-serif";
}

@layer utilities {
  .text-interactive {
    @apply text-xl font-medium tracking-wide;
  }
}

:root {
  --background: #f8fafc;
  /* slate-50 */
  --foreground: #0f172a;
  /* slate-900 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}